<div>Primary font: "Open Sans", "HelveticaNeue", "Helvetica", "Arial", sans-serif;</div>
<div><em>Primary font italic: "Open Sans", "HelveticaNeue", "Helvetica", "Arial", sans-serif;</em></div>
<div><strong>Primary font bold: "Open Sans", "HelveticaNeue", "Helvetica", "Arial", sans-serif;</strong></div>
<div class="font-secondary">Primary font: "Open Sans", "HelveticaNeue", "Helvetica", "Arial", sans-serif;</div>
<div class="font-secondary"><em>Primary font italic: "Open Sans", "HelveticaNeue", "Helvetica", "Arial", sans-serif;</em></div>
<div class="font-secondary"><strong>Primary font bold: "Open Sans", "HelveticaNeue", "Helvetica", "Arial", sans-serif;</strong></div>