<div class="btn-row">
    <div class="btn btn-success">Button</div>
    <div class="btn btn-info">Button</div>
    <div class="btn btn-primary">Button</div>
    <div class="btn btn-warning">Button</div>
    <div class="btn btn-danger">Button</div>
</div>